{$TAILSCALE_DOMAIN} {
                    tls {
                        get_certificate tailscale
                        }

                    root * /usr/share/caddy

                    handle /api/* {
                                  reverse_proxy backend:3000
                                  }

                    handle {
                           try_files {path} /index.html
                                            file_server
                           }

                    @no-cache {
                              path /config.json /index.html
                              }
                    header @no-cache Cache-Control "no-store, no-cache, must-revalidate"

                    @static {
                            path_regexp static \.(?:js|css|png|jpg|jpeg|gif|svg|ico|woff2?)$
                            }
                    header @static Cache-Control "public, max-age=604800, immutable"

                    log {
                        output stdout
                        }
}
