<form [formGroup]="formGroup" class="w-[450px] flex flex-col gap-6">
  <sp-input placeholder="email" name="email" [formControlName]="formName.EMAIL"></sp-input>
  <sp-input placeholder="password" type="password" name="password" [formControlName]="formName.PASSWORD"></sp-input>

  <div class="min-h-[30px]">
    @if(showInvalidLoginError()) {
      <span class="text-error text-sm">Niepoprawny login lub hasło!</span>
    }
  </div>

  <sp-button [disabled]="isLoading() || showInvalidLoginError()" (click)="onLoginClick()">
    <div class="flex justify-center gap-2 items-center">
      <span>Login</span>
      <ng-icon name="heroLockOpen"></ng-icon>
    </div>
  </sp-button>
</form>
