@import "primeicons/primeicons.css";

@tailwind components;
@tailwind utilities;

:root {
  --ion-background-color: #F5F5F5; // lub bg-super-light-gray z Tailwinda
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Inter', sans-serif;
}

ion-tab-bar {
  --ion-tab-bar-background: #ffffff;
  --ion-tab-bar-border-color: #2e3136;
  --ion-tab-bar-color-selected: #6B7280;

  border: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

