:root {
  --sp-home-divider-color: #e2e2e2;

  --app-super-light-grey: #f1f1f1;
  --app-light-gray: #e2e2e2;
  --app-dark-blue: #262c40;
  --app-light-blue: #393e61;
  --sp-primary-color: #4e91b8;

}
