<div class="flex gap-2 items-center">
  <ng-icon name="heroClock"></ng-icon>
  <span>Ciśnienie Wody</span>
  <span>{{ heatPump().waterPressure }}</span>
</div>

<div class="flex gap-2 mt-2 items-center">
  <ng-icon name="heroClock"></ng-icon>
  <span>Temperatura zewnętrzna</span>
  <span>{{ heatPump().outdoorNow }} &#176;C</span>
</div>

@if(heatPump().tankStatus[0]; as waterTank) {

<div class="flex gap-2 mt-2 items-center mb-6">
  <ng-icon name="heroClock"></ng-icon>
  <span>Status:</span>
  @if (waterTank.operationStatus === 1) {
  <ng-icon name="heroCheckCircle"></ng-icon>
  } @else {
  <ng-icon name="heroNoSymbol"></ng-icon>
  }
</div>

<div class="flex flex-col gap-1 w-full">
  <div class="w-full flex gap-4 items-center">
    <div class="font-semibold">Sczegóły Grzania wody:</div>
  </div>

  <div class="w-full flex gap-4 items-center">
    <div class="w-full">Wybrana temeratura</div>
    <div class="w-full">{{ waterTank.heatSet }} &#176;C</div>
  </div>

  <div class="w-full flex gap-4 items-center">
    <div class="w-full">Bierząca temeratura na wyjściu z kotła</div>
    <div class="w-full">{{ waterTank.temparatureNow }} &#176;C</div>
  </div>

  <div class="w-full flex gap-4 items-center">
    <div class="w-full">Maksymalna temeratura grzania wody</div>
    <div class="w-full">{{ waterTank.heatMax }} &#176;C</div>
  </div>

  <div class="w-full flex gap-4 items-center">
    <div class="w-full">Minimalna temeratura grzania wody</div>
    <div class="w-full">{{ waterTank.heatMin }} &#176;C</div>
  </div>
</div>
}
