mode='production'

dbUserName=sparrow
dbPassword=sparrow
dbName=sparrow_home

jwtSecret=MY_JWT_SECRET
jwtExpiry=2d

pushPublicKey=MY_PUSH_PUBLIC_KEY
pushPrivateKey=MY_PUSH_PRIVATE_KEY
pushAdminEmail=YOUR_EMAIL
