<app-page-title>Pompa i Panele Fotowoltaiczne</app-page-title>

@if(isLoading() && heatPump() === null) {
<div class="flex w-full justify-center">
  <app-loader></app-loader>
</div>
} @else if(heatPump() && formGroup) {
<div @sparrowFadeIn class="flex justify-end gap-6 items-center flex-col md:flex-row md:gap-6 mb-4">
  <div class="flex gap-2 items-center">
    <ng-icon name="heroClock"></ng-icon>
    <span>Ciśnienie Wody</span>
    <span>{{ heatPump()?.waterPressure }}</span>
  </div>

  <div class="flex gap-2 items-center">
    <ng-icon name="heroClock"></ng-icon>
    <span>Temperatura zewnętrzna</span>
    <span>{{ heatPump()?.outdoorNow }} &#176;C</span>
  </div>
</div>

<form [formGroup]="formGroup" class="flex flex-col gap-4">
  @if(heatPump()?.tankStatus; as tankStatus) {
  <sp-card>
    <div class="flex items-center gap-2 justify-between">
      <app-page-subtitle>Woda użytkowa:</app-page-subtitle>
      <sp-switch [formControlName]="formName.IS_WATER_ON"></sp-switch>
    </div>
    <app-water-tank [waterTank]="tankStatus"></app-water-tank>
  </sp-card>
  } @if (heatPump()?.zoneStatus; as zoneStatus) {
  <sp-card>
    <div class="flex items-center gap-2 justify-between">
      <app-page-subtitle>Ogrzewanie:</app-page-subtitle>
      <sp-switch [formControlName]="formName.IS_HEAT_ON"></sp-switch>
    </div>

    <app-heat-tank [zone]="zoneStatus"></app-heat-tank>
  </sp-card>
  }
</form>
}
