<app-page-title>Pompa i Panele Fotowoltaiczne</app-page-title>

@if(heatPump() && formGroup) {
  <div class="flex justify-end gap-6 items-center flex-col md:flex-row md:gap-6 mb-4">
    <div class="flex gap-2 items-center">
      <ng-icon name="heroClock"></ng-icon>
      <span>Ciśnienie Wody</span>
      <span>{{ heatPump()?.waterPressure }}</span>
    </div>

    <div class="flex gap-2 items-center">
      <ng-icon name="heroClock"></ng-icon>
      <span>Temperatura zewnętrzna</span>
      <span>{{ heatPump()?.outdoorNow }} &#176;C</span>
    </div>
  </div>

  <form [formGroup]="formGroup" class="flex flex-col gap-4">
    @if(heatPump()?.tankStatus; as tankStatus) {
      <mat-card>
        <mat-card-header class="flex items-center gap-2 justify-between">
          <mat-card-title>Woda użytkowa:</mat-card-title>
          <mat-slide-toggle [formControlName]="formName.IS_WATER_ON"></mat-slide-toggle>
        </mat-card-header>
        @if (waterTankOptions()) {
          <mat-card-content>
            <app-water-tank
              [waterTank]="tankStatus"
              [waterTankOptions]="waterTankOptions()"
              (waterTankOptionsChange)="handleWaterTankOptionsChange($event)"
              (longBathChange)="handleLongerBathChange($event)"
            ></app-water-tank>
          </mat-card-content>
        }
      </mat-card>
    } @if (heatPump()?.zoneStatus; as zoneStatus) {
    <mat-card>
      <mat-card-header class="flex items-center gap-2 justify-between">
        <mat-card-title>Ogrzewanie:</mat-card-title>
        <mat-slide-toggle [formControlName]="formName.IS_HEAT_ON"></mat-slide-toggle>
      </mat-card-header>
      <mat-card-content>
        <app-heat-tank [zone]="zoneStatus" (heatOverNightChange)="handleHeatOverNight($event)"></app-heat-tank>
      </mat-card-content>
    </mat-card>
  }
  </form>
}
