<header
  class="flex border-b-primary border-b shadow-md items-center px-4"
>
  <div class="text-base font-semibold text-primary">{{ applicationTitle() }}</div>
</header>

<div class="flex content w-full">
  <nav class="flex w-auto flex-col gap-2 h-full p-2 border-primary border-r-2">
    @for (item of navigationItems(); track $index) {

    <sp-button
      class="p-2 text-primary hover:surface-200"
      [routerLink]="item.routerLink"
      [type]="currentUrl() === '/' + item.routerLink ? 'primary' : 'secondary'"
      [class.surface-300]="currentUrl() === '/' + item.routerLink"
    >
      <i class="pi" [ngClass]="item.icon"></i>
      <span class="whitespace-nowrap"> {{ item.label }} </span>
    </sp-button>
    }
  </nav>

  <div class="p-4 w-full">
    <ng-content></ng-content>
  </div>
</div>
