:host {
    --header-height: 60px;

    nav {
      --sp-button-width: 100%
    }

    header {
        height: var(--header-height);
    }

    .content {
        height: calc(100% - var(--header-height));
    }
}
