<mat-card>
      <mat-card-header class="flex items-center justify-between">
        <mat-card-title>Ustawienia:</mat-card-title>
        <div class="flex items-center">
          @if(formGroup?.disabled) {
            <button mat-button (click)="onEdit()">
              <ng-icon class="text-lg" name="heroPencil"></ng-icon>
            </button>
          } @else {
            <button mat-button color="primary" (click)="onSubmit()">
              <ng-icon class="text-lg" name="heroCheck"></ng-icon>
            </button>

            <button mat-button color="accent" (click)="onCancel()">
              <ng-icon class="text-lg" name="heroTrash"></ng-icon>
            </button>
          }
        </div>
  </mat-card-header>
  <mat-card-content class="mt-2">
    @if(formGroup) {
      <form [formGroup]="formGroup" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-4 w-full">
        <mat-form-field>
          <mat-label>Latitude:</mat-label>
          <input matInput type="number" [formControlName]="formName.LAT">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Longitude:</mat-label>
          <input matInput type="number" [formControlName]="formName.LNG">
        </mat-form-field>
      </form>
    }
  </mat-card-content>
</mat-card>

