<div class="flex items-center justify-between min-h-[50px] mb-2">
  <app-page-subtitle>Ustawienia:</app-page-subtitle>
  <div class="flex items-center gap-2">
    @if(formGroup?.disabled) {
    <sp-button @sparrowFadeIn type="link" (click)="onEdit()">
      <ng-icon class="text-lg" name="heroPencil"></ng-icon>
    </sp-button>
    } @else {
    <sp-button @sparrowFadeIn type="primary" (click)="onSubmit()">
      <ng-icon class="text-lg" name="heroCheck"></ng-icon>
    </sp-button>

    <sp-button @sparrowFadeIn type="secondary" (click)="onCancel()">
      <ng-icon class="text-lg" name="heroTrash"></ng-icon>
    </sp-button>
    }
  </div>
</div>

@if(formGroup) {
<form [formGroup]="formGroup" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  <div class="w-[300]px">
    <sp-input type="number" label="Latitude:" [name]="'latitude'" [formControlName]="formName.LAT"></sp-input>
  </div>
  <div class="w-[300]px">
    <sp-input type="number" label="Longitude:" [name]="'longitude'" [formControlName]="formName.LNG"></sp-input>
  </div>
</form>
}
